<% include partials/header %>
<!-- Navbar Begins -->


<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="position: relative;">
		  <a class="navbar-brand mb-0 h1" href="/">BookEx</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				  <li class="nav-item my-auto"><a class="nav-link" href="/" style="margin: 0 10px;">Home</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books" style="margin: 0 10px;">Books</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/ebooks" style="margin: 0 10px;">E-Books/PDFs</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/misc" style="margin: 0 10px;">Miscellaneous</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books/new" style="margin: 0 10px;">Lend Items</a></li>
				  <% if(currentUser != null) {%>
				  <li class="nav-item my-auto"><a class="nav-link" href="/mybooks" style="margin: 0 10px;">My Books</a></li>
				  <% } %>
			  </ul>
			<ul class="navbar-nav ml-auto">
				<% if (!currentUser) { %>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signup" method="GET">
						<button class="btn btn-outline-info my-2 my-sm-0" style="margin: 0 10px;">Sign Up</button>
					</form>
				</li> 
				<% } else { %>
				<li class="nav-item">
                    <% if(show) { console.log(seen); if(seen) { %>
                    <a href="/notif"><i class="far fa-bell btn-lg"></i></a>
                    <% } else { %>
                    <a href="/notif"><i class="fas fa-bell btn-lg" style=" background-color: blue; color: white; "></i></a>
                    <% } } %>
                </li>
				<li class="nav-item" style="text-align: center;">
					<span class="my-2 my-lg-0 mx-4">Signed in as:</span>
					<br>
					<span class="my-2 my-lg-0 mx-4"><%= currentUser.firstname %> <%= currentUser.lastname %></span>
				</li>
				<li class="nav-item my-auto" style="text-align: center;color:white;font-size: 24px;">
					<a class="my-2 my-lg-0 mx-4" style="color: black;background-color: transparent;border: 0;" href="/<%= currentUser._id.toString() %>/cart"><i class="fa fa-shopping-cart"></i></a>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signout" method="GET">
						<button class="btn btn-outline-danger my-2 my-sm-0" style="margin: 0 10px;">Sign Out</button>
					</form>
				</li>
				<% } %>
			</ul>
			
		  </div>
		</nav>

<!-- End of Navbar -->
	
	<div class="container" style="margin: 100px auto">
		<h1>
			Cart
		</h1>
		<p>
			<span>Total Items: <%= books.cart_items %></span>
			<span style="float:right">Total Price: <i class="fa fa-inr"></i> <%= books.total_price %></span>
		</p>
		<hr style="border: 1px solid black">
		
<!-- 	Books	 -->
		<% if(books.cart.length == 0) { %>
		<p style="text-align: center;">
			<img src="/images/cart.png" style="width: 60%;">
		</p>
		<p style="text-align: center;color: #6c63ff;font-size: 3rem;font-family: cursive;">
			All caught up.
		</p>
		<% } else { for(const book of books.cart) {%>
		<div style="width: 100%; height: auto;">
			<div style="padding: 10px; height: 100%; width: 20%; display: inline-block; text-align:center;">
				<img src="<%= book.item_id.image.replace((book.item_id.image).split('/')[(book.item_id.image).split('/').length - 2], 'w_500,f_auto') %>" alt="..." class="img-thumbnail" style="object-fit: contain; height: auto; margin: 10px;">
			</div>	
			<!-- Title -->
			<div style="padding: 10px; height: 100%; width: 50%; display: inline-block; text-align:center;">
				<h5 style="display: inline-block; "><a href="/books/<%= book.item_id._id %>" style="
    color: black;
"><%= book.item_id.title %></a></h5>
			</div>
			<!-- Price -->
			<div style="padding: 10px; height: 100%; width: 20%; display: inline-block; text-align:center;">
				<p>
					<i class="fa fa-inr"></i> <%= book.item_id.price %>
				</p>
			</div>
			<!-- Remove -->
			<div style="padding: 10px; height: 100%; width: 5%; display: inline-block; text-align:center;">
				<a href="/<%= currentUser._id.toString() %>/cart/<%= book.item_id._id.toString() %>"><i class="fa fa-trash" style="color: red;font-size: 28px;"></i></a>
			</div>
		</div>
		<hr>
		<% } } %>
		<% if(books.cart_items!=0) { %>
		<div style="float:right;">
			<a href= '/<%= currentUser._id %>/buy' class="btn btn-outline-success">Buy Now!</a>
		</div>
		<%}%>
	</div>
	

<% include partials/footer %>