<% include partials/header %>
<!-- Navbar Begins -->

<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(255, 255, 255, 0.85);">
		  <a class="navbar-brand mb-0 h1" href="/">BookEx</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				  <li class="nav-item my-auto"><a class="nav-link" href="/" style="margin: 0 10px;">Home</a></li>
				  <li class="nav-item my-auto active"><a class="nav-link" href="/books" style="margin: 0 10px;">Books</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/ebooks" style="margin: 0 10px;">E-Books/PDFs</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/misc" style="margin: 0 10px;">Miscellaneous</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books/new" style="margin: 0 10px;">Lend Items</a></li>
				  <% if(currentUser != null) {%>
				  <li class="nav-item my-auto"><a class="nav-link" href="/mybooks" style="margin: 0 10px;">My Books</a></li>
				  <% } %>
			  </ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/books" method="GET">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
							</div>
							<input type="text" name="search" class="form-control" placeholder="Search Books...">
						</div>
						<button class="btn btn-info my-2 my-sm-0" style="margin: 0 10px;">Search</button>
					</form>
				</li>
				<% if (!currentUser) { %>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signup" method="GET">
						<button class="btn btn-outline-info my-2 my-sm-0" style="margin: 0 10px;">Sign Up</button>
					</form>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signin" method="GET">
						<button class="btn btn-outline-success my-2 my-sm-0" style="margin: 0 10px;">Sign In</button>
					</form>
				</li>
				<% } else { %>
				<li class="nav-item" style="text-align: center;">
					<span class="my-2 my-lg-0 mx-4">Signed in as:</span>
					<br>
					<span class="my-2 my-lg-0 mx-4"><%= currentUser.firstname %> <%= currentUser.lastname %></span>
				</li>
				<li class="nav-item my-auto" style="text-align: center;color:white;font-size: 24px;">
					<a class="my-2 my-lg-0 mx-4" style="color: black;background-color: transparent;border: 0;" href="/<%= currentUser._id.toString() %>/cart"><i class="fa fa-shopping-cart"></i></a>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signout" method="GET">
						<button class="btn btn-outline-danger my-2 my-sm-0" style="margin: 0 10px;">Sign Out</button>
					</form>
				</li>
				<% } %>
			</ul>
			
		  </div>
		</nav>

<!-- End of Navbar -->

<div class="card-deck" style="margin: 100px 10px;">
	<% records.forEach(function(row){ if(currentUser == null || row.uploader != currentUser.username) {%>
	<div class="col-lg-3 col-md-6" style="margin-bottom: 15px;">
  <div class="card books">
	  <div class="card-img-top img-fluid books-img" style="width:100%;height: 350px;overflow: hidden;display:flex;padding: 7px;">
		<img class="card-img-top img-fluid" src="<%= row.image.replace((row.image).split('/')[(row.image).split('/').length - 2], 'w_300,f_auto') %>" alt="Card image cap" style="object-fit: contain;">
	  </div>
	<div class="card-body books-body"	style="">
		<% if(row.title.length > 25) { %>
	  		<h4 class="card-title" style="text-align: center;"><%= row.title%></h4>
		<% } else { %>
			<h4 class="card-title" style="text-align: center;"><%= row.title%></h4>
		<% } %>

		<p style="text-align:center"><bold>Author: <%= row.author %></bold></p>

		<p style="font-size: 18px;font-weight: bold;text-align: center;"><i class="fa fa-inr"></i> <%= row.price %></p>

		<% if(row.description.length > 92) { %>
			<p class="card-text"><%= row.description.substring(0, 70)%> ....</p>
		<% } else { %>
			<p class="card-text"><%= row.description%></p>
		<% } %>
		<form action="/books/<%= row._id %>" method="GET" style="text-align:center;">
			<button type="submit" class="btn btn-sm btn-light stretched-link" style="background-color: rgba(277, 277, 277, 0.9)"><i class="fa fa-info"></i> View More</button>
		</form>
	</div>
		</div>
  </div>
	<% }}) %>
</div>
	<% if(query != null) { %>
		<% if (pages > 0) { %>
			<ul class="pagination text-center justify-content-center">
				<% if (current == 1) { %>
					<li class="page-item disabled"><a class="page-link">First</a></li>
				<% } else { %>
					<li class="page-item"><a class="page-link" href="/books/page/1/?search=<%= query %>">First</a></li>
				<% } %>
				<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
				<% if (i !== 1) { %>
					<li class="page-item disabled"><a class="page-link">...</a></li>
				<% } %>
				<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
					<% if (i == current) { %>
						<li class="page-item active"><a class="page-link"><%= i %></a></li>
					<% } else { %>
						<li class="page-item"><a class="page-link" href="/books/page/<%= i %>/?search=<%= query %>"><%= i %></a></li>
					<% } %>
					<% if (i == Number(current) + 4 && i < pages) { %>
						<li class="page-item disabled"><a class="page-link">...</a></li>
					<% } %>
				<% } %>
				<% if (current == pages) { %>
					<li class="page-item disabled"><a class="page-link">Last</a></li>
				<% } else { %>
					<li class="page-item"><a class="page-link" href="/books/page/<%= pages %>/?search=<%= query %>">Last</a></li>
				<% } %>
			</ul>
		<% } %>
	<% } else { %>
		<% if (pages > 0) { %>
			<ul class="pagination text-center justify-content-center">
				<% if (current == 1) { %>
					<li class="page-item disabled"><a class="page-link">First</a></li>
				<% } else { %>
					<li class="page-item"><a class="page-link" href="/books/page/1">First</a></li>
				<% } %>
				<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
				<% if (i !== 1) { %>
					<li class="page-item disabled"><a class="page-link">...</a></li>
				<% } %>
				<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
					<% if (i == current) { %>
						<li class="page-item active"><a class="page-link"><%= i %></a></li>
					<% } else { %>
						<li class="page-item"><a class="page-link" href="/books/page/<%= i %>"><%= i %></a></li>
					<% } %>
					<% if (i == Number(current) + 4 && i < pages) { %>
						<li class="page-item disabled"><a class="page-link">...</a></li>
					<% } %>
				<% } %>
				<% if (current == pages) { %>
					<li class="page-item disabled"><a class="page-link">Last</a></li>
				<% } else { %>
					<li class="page-item"><a class="page-link" href="/books/page/<%= pages %>">Last</a></li>
				<% } %>
			</ul>
		<% } %>
	<% } %>

<% include partials/footer %>