<% include partials/header %>

<body>
	

<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgba(255, 255, 255, 0.85); position: relative;">
		  <a class="navbar-brand mb-0 h1" href="/">BookEx</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				  <li class="nav-item my-auto"><a class="nav-link" href="/" style="margin: 0 10px;">Home</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books" style="margin: 0 10px;">Books</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/ebooks" style="margin: 0 10px;">E-Books/PDFs</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/misc" style="margin: 0 10px;">Miscellaneous</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books/new" style="margin: 0 10px;">Lend Items</a></li>
				  <% if(currentUser != null) {%>
				  <li class="nav-item my-auto active"><a class="nav-link" href="/mybooks" style="margin: 0 10px;">My Books</a></li>
				  <% } %>
			  </ul>
			<ul class="navbar-nav ml-auto">
				<% if (!currentUser) { %>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signup" method="GET">
						<button class="btn btn-outline-info my-2 my-sm-0" style="margin: 0 10px;">Login</button>
					</form>
				</li>
				<% } else { %>
				<li class="nav-item">
                    <% if(show) { if(seen) { %>
                    <a href="/notif"><i class="far fa-bell btn-lg"></i></a>
                    <% } else { %>
                    <a href="/notif"><i class="fas fa-bell btn-lg" style=" background-color: blue; color: white; "></i></a>
                    <% } } %>
                </li>
				<li class="nav-item" style="text-align: center;">
					<span class="my-2 my-lg-0 mx-4">Logged in as:</span>
					<br>
					<span class="my-2 my-lg-0 mx-4"><%= currentUser.firstname %> <%= currentUser.lastname %></span>
				</li>
				<li class="nav-item my-auto" style="text-align: center;color:white;font-size: 24px;">
					<a class="my-2 my-lg-0 mx-4" style="color: black;background-color: transparent;border: 0;" href="/<%= currentUser._id.toString() %>/cart"><i class="fa fa-shopping-cart"></i></a>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signout" method="GET">
						<button class="btn btn-outline-danger my-2 my-sm-0" style="margin: 0 10px;">Logout</button>
					</form>
				</li>
				<% } %>
			</ul>
			
		  </div>
		</nav>

<!-- End of Navbar -->
	
	<div class="card-deck" style="margin: 75px 10px;">
	<% var count = 0; records.forEach(function(row){ if(row.uploader == currentUser.username) {  count++;%>
	<div class="col-lg-3 col-md-6" style="margin-bottom: 75px;">
  <div class="card books" style="
    border: 1.5px solid rgba(0, 0, 0, 0.25);
">
	  <div class="card-img-top img-fluid books-img" style="width:100%;height: 250px;overflow: hidden;display:flex;padding: 7px; display: flex;">
		  <% if(row.price != "") { %>
		<img class="card-img-top img-fluid" src="<%= row.image.replace((row.image).split('/')[(row.image).split('/').length - 2], 'w_300,f_auto') %>" alt="Card image cap" style="object-fit: contain;">
		  <% } else { %>
		  <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/d/<%= row.file_id %>=s450?authuser=0" alt="Card image cap" style="width: 95%; height: auto;flex-grow: 1;
  object-fit: cover; object-position: top;">
		  <% } %>
	  </div>
	<hr style="
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
">
	<div class="card-body books-body"	style="
    padding-top: 0.2rem; padding-bottom: 0.2rem;
    background-color: #ffffff;
">
		<% if(row.title.length > 25) { %>
	  		<h4 class="card-title" style="text-align: center;"><%= row.title%></h4>
		<% } else { %>
			<h4 class="card-title" style="text-align: center;"><%= row.title%></h4>
		<% } %>

		<% if(row.author != null) { %>
		<p style="text-align:center"><bold>Author: <%= row.author %></bold></p>
		<% } %>

		<% if(row.price != "") { %>
		<p style="font-size: 18px;font-weight: bold;text-align: center; color: #39C600"><i class="fa fa-inr"></i> <%= row.price %></p>
		<% } %>

		<% if(row.description.length > 92) { %>
			<p class="card-text" style="margin-bottom: 0.5rem;text-align: center;"><%= row.description.substring(0, 70)%> ....</p>
		<% } else { %>
			<p class="card-text" style="margin-bottom: 0.5rem;text-align: center;"><%= row.description%></p>
		<% } %>
		<form action="/<% if(row.author == null) { %>misc<% } else if(row.price === "") {%>ebooks<%} else { %>books<%}%>/<%= row._id %>" method="GET" style="text-align:center; height: 0;">
			<button type="submit" class="btn btn-sm btn-light stretched-link" style="height: 0; background-color: rgba(277, 277, 277, 0.0); color: rgba(0,0,0,0); padding: 0; border: 0;"><i class="fa fa-info"></i> View More</button>
		</form>
	</div>
		</div>
  </div>
		<% }});%>
</div>
	<% if(count == 0) {%>
	<div class="container" style="margin: 100px auto">
		<p style="text-align: center;">
			<img src="/images/uploads.png" style="width: 60%;">
		</p>
		<p style="text-align: center;color: #6c63ff;font-size: 3rem;font-family: cursive;">
			No Uploads.
		</p>
		<form action='/books/new'>
			<div style="text-align: center;">
							<button type="submit" class="btn btn-lg" style="margin: 3px auto;border-radius: 24px;width: 40%; background-color: #6c63ff; color: white;">Lend Now!</button>
			</div>
		</form>
	</div>
	<% } %>
	
<% include partials/footer %>